<div class="col-xs-8 col-xs-offset-4"><div id="if_render"></div></div>
<% if direct_message.from_id == @other_user.id then %>
  <div class="col-xs-8">
    <div id="other_user_messages">
      <ol class="direct_messages">
        <li id="message-<%= direct_message.id %>">
          <%= link_to gravatar_for(direct_message.from, size: 50), direct_message.from %>
          <span class="message" id="passive_message">
            <%= direct_message.message %>
            <%= image_tag direct_message.picture.url if direct_message.picture? %>
          </span>
          <span class="timestamp" id="passive_message">
            <%= direct_message.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
          </span>
        </li>
      </ol>
    </div>
  </div>
<% elsif direct_message.from_id == @user.id then %>
  <div class="col-xs-8 col-xs-offset-4">
    <div id="user_messages">
      <ol class="direct_messages">
        <li id="message-<%= direct_message.id %>">
          <span class="message" id="active_message">
            <%= direct_message.message %>
            <%= image_tag direct_message.picture.url if direct_message.picture? %>
          </span>
          <span class="timestamp" id="active_message">
            <%= direct_message.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            <% if current_user?(direct_message.from) %>
              | <%= link_to "delete", direct_message_path(direct_message.id), method: :delete,
                                               data: { confirm: "You sure?" }, remote: true %>
              | <%= link_to "edit",  edit_direct_message_path(direct_message.id), remote: true %>
            <% end %>
          </span>
        </li>
      </ol>
    </div>
  </div>
<% end %>
